<div class="bangumi-card-full bangumi-item" style="margin: <%= display_config.margin %>px 0;">
    <div class="bangumi-card-full-left">
        <img src="<%= display_config.lazyload ? "/bangumi-gallery/img/loading.gif" : `https://lain.bgm.tv/pic/cover/${display_config.image_level}/${item.image}` %>"
             data-src="<%= `https://lain.bgm.tv/pic/cover/${display_config.image_level}/${item.image}` %>"
             referrerPolicy="no-referrer" width="110" style="min-width:110px;max-width: 110px"/>
    </div>
    <div class="bangumi-card-full-right">
        <div class="bangumi-card-name-full">
            <a href="https://bgm.tv/subject/<%= item.subject_id %>"
               target="_blank"><%= item.name_local === '' ? item.name : item.name_local %></a>
        </div>
        <div class="bangumi-card-info-bar">
            <% if (index === 1 && display_config.progress) { %>
                <div class="bangumi-card-info-item">
                    <div style="font-weight: normal; margin-bottom: 0"><%= __('book.progress') %></div>
                    <div style="margin: 0; font-size: xx-small"><%= __('book.ep') %>: <%= item.ep_status %> / <%= item.eps %></div>
                    <div style="margin-top: 0; margin-bottom: 3px; font-size: xx-small"><%= __('book.volume') %>: <%= item.vol_status %> / <%= item.volumes %></div>
                </div>
            <% } else { %>
                <div class="bangumi-card-info-item">
                    <div class="bangumi-card-info-item"><%= __('book.totalEp', item.eps === 0 ? '-' : item.eps) %></div>
                    <div class="bangumi-card-info-item"><%= __('book.totalVol', item.volumes === 0 ? '-' : item.volumes) %></div>
                </div>
            <% } %>
            <div class="separator"></div>
            <div class="bangumi-card-info-item mobile-hide">
                <div style="font-weight: normal; margin-bottom: 5px"><%= __('book.date') %></div>
                <% if (item.date) { %>
                    <div><%= item.date %></div>
                <% } else { %>
                    <div><%= __('noData') %></div>
                <% } %>
            </div>
            <div class="separator mobile-hide"></div>
            <div class="bangumi-card-info-item">
                <div style="font-weight: normal; margin-bottom: 5px"><%= __('bangumi.score') %></div>
                <div><%= item.score %></div>
            </div>
        </div>
        <div class="card-tags">
            <% for (var i = 0; i < item.tags.length; i++) { %>
                <div class="card-tag-item"><%= item.tags[i] %></div>
            <% } %>
        </div>
        <div class="bangumi-card-summary" style="font-weight: lighter"><%= item.summary %></div>
    </div>
</div>
